[Unit]
Description=PROOF (The Parallel ROOT Facility)
Documentation=man:proofd(8)
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/proofd
ExecStart=/usr/bin/proofd $PROOFDOPTS

[Install]
WantedBy=multi-user.target
